:root {
	--main-color: #abc4ff;
}
body {
	padding: 0;
	margin: 0;
	background-color: #edf2fb !important;
	font-family: 'Courier New', monospace !important;
}
footer {
	color: rgb(146, 144, 144);
	border-top: 1px solid var(--main-color);
}
.main-bg {
	background-color: var(--main-color);
}
.children-div {
	min-height: 450px;
}
.heading {
	color: var(--main-color);
	font-size: 5vw;
	text-shadow: 4px 3px 0 #7a7a7a;
}
p {
	text-align: justify;
}
